body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3e5f5;
}

nav {
    background-color: #6a1b9a;
    padding: 15px;
    text-align: center;
}

.menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
}
.menu a {
    display: inline-block;
    background-color: #1b2a20;
    color: #f5f5dc;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #f4c430;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    transition: all 0.4s ease;
}

.menu a:hover {
    background-color: #f4c430;
    color: black;
}

.container {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

h1 {
    color: #6a1b9a;
}

h2 {
    color: #8e24aa;
}